*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
}

#header-cart{
    display: flex;
    align-items: center;
    padding-left: 33%;
    margin-top: 12%;
}

input[type="text"],
input[type="number"],
select{
    background-color: #adadbc;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;    
}

input[type="checkbox"],
input[type="range"],
input[type="radio"]{
    accent-color:#adadbc;
}

input:focus{
    border: solid 1px #2a1c8a;
}

#secao-orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: #3842d5;
    max-width: 500px;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem auto;
}

.campo{
    display: flex;
    flex-direction: column;
}

.linha{
    grid-column: 1/3;
}