*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    
}
h2{
    align-items: center;
}

input[type="text"],
input[type="number"],
select{
    background-color: #ADADBC;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
}

input[type="checkbox"],
input[type="range"],
input[type="radio"]{
    accent-color: #ADADBC;
}


input:focus {
    border: solid 1px #2a1c8a;
}
#secao-orcamento{
    text-align: center;
    padding: 15rem;
}

#form-orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: #3842d5;
    max-width: 500px;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1 / 3;
}
