#secao-orcamento {
  height: 100vh;
  padding: 3rem;
}

#form-orcamento {
  display: block;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #6950cc;
  max-width: 500px;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem auto;
}

#form-orcamento h2{
    align-items: center;
    font-weight: 500 bold;
}

.campo {
  display: flex;
  flex-direction: column;
}
.linha{
  display: flex;
  
}
